RESULTS:
<% if @game.winner == "Draw" %>
 	<h1> It was a draw. </h1>
 	<p> <form method="GET" action="/play">
	<button type="submit" class="btn btn-primary">Let's play again!</button>
	</form> </p>
 	<% elsif @game.winner.name == "computer" %>
 	<h1> You lost, HAL 9000 won with <%= @game.winner.pick %></h1>
	<p> <form method="GET" action="/play">
	<button type="submit" class="btn btn-primary">Let's play again!</button>
	</form> </p>
<% else %>
	<h1> You won with <%= @game.winner.pick %>. Congrats! </h1>
	<p> <form method="GET" action="/play">
	<button type="submit" class="btn btn-primary">Let's play again!</button>
	</form> </p>
<%end%>


