<h1>Welcome <%= @player%></h1>

<form action="/play" method="POST">
	<button name="pick" value="Bear">Bear</button>
	<button name="pick" value="Ninja">Ninja</button>
	<button name="pick" value="Cowboy">Cowboy</button>
	<input type="hidden" name="name" value=<%=@name%>>
</form>
